/* More Text Styles */
/* 

we have already done a bit of text-manipulation in our foundations lesson, here in this lesson we will cover few more useful css properties than can be used when working with text.

*/

/* fonts */
/* 

in our foundations lwill lesson, we covered changing the font-family of an element.

*/
/* The system font stack */
/* 

if you use the font-family property to change to a font like impact or times new roman, and those fonts do not happen to be installed on your user's computer, then the a default fallback font will be displayed if you didn't defined a fallback font the browser will choose a font which might be ugly.

read article on system font stack.
https://css-tricks.com/snippets/css/system-font-stack/
*/
body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* 

The point of this somewhat ridiculous string of font-families is to try using the default font of the system's user interface. it will go through each of those fonts untill it finds one that is installed on the system. 

*/

/* Web fonts */
/* 

if you want to use a font that will not be available on the user's device, you will need to import the font from an online source, either a font library or an asset on your site. both method will be import the font and make it accessible in your css.
NOTE: always add the fallback,,, 


*/