/* 
if we dont specify any style for text, browsers will apply their own default styles, these are called user agent stylesheets, and many vary from browser to browser. users can set their own preferences for displaying text too.
 */
 /*
 if you dont specify a line height browser will wrap lines of text at the edge of the screen. so text on the web is responsible by default, it flows to fit the user's viewport.
 */

 /* 
 Good Typography is all about presenting your text in an appropriate way.
 */

 /* 
 its difficult to know that what size text on the web should be.
 */

 /*
  you can always use media queries to change the font-size property as the screeen size gets wider. 
  */

  @media (min-width: 30em) {
  html {
    font-size: 125%;
  }
}

@media (min-width: 40em) {
  html {
    font-size: 150%;
  }
}

@media (min-width: 50em) {
  html {
    font-size: 175%;
  }
}

@media (min-width: 60em) {
  html {
    font-size: 200%;
  }
}

/* Scaling text... */
/* 
switching between fixed text sizes at specific breakpoints is quite jumpy. a more responsive approach is to let the user's device width influence the text size. the vw unit in css stands for viewport width.
its important that you dont use the vw by itself in a font-size declaration.
*/

/* Do this... the text will be resizable if you mix in a relative unit like rem, em, or ch. calc func is perfect for this.. */
html {
  font-size: calc(0.75rem + 1.5vw);
}
/* let the browser do the math. */

/* Clamping text.... */
/* 
You probably dont want your text to shrink and grow to extremes. You can control where the scaling starts and ends using the css clamp()  function.
*/
html {
  font-size: clamp(1rem, 0.75rem + 1.5vw, 2rem);
}
/* now the text size shrinks and grows in proportion to the user's screen but the text size will never be smaller than 1rem or larger than 2rem. */

/* Line length */
/* 
the web is not print, but we can learn lessons from the world of print and apply them on the web.
http://webtypography.net/2.1.2

anything from 45 to 75 charecters is widely regarded as a satisfactory line length for a single-column page set, in a serifed text face in a text size.
the 66 charector line (counting both letters and spaces) is widely regarded as ideal.

for multiple column work, a better average is 40 to 50 charectors.
*/

/* 
you can't set a direct line length in css there is no line-length property in css.
you can stop text from getting to wide by limiting how wide the container can be, the max-inline-size property is perfect for this....
 */

 article {
  max-inline-size: 66ch;
}
/* using ch units for width will cause new lines to wrap at the 66th character at the font-size. */

/* Line Height */
/* 
there is no line-length property in css, but there is a line-height property.

*/
article {
  max-inline-size: 66ch;
  line-height: 1.65;
}
blockquote {
  max-inline-size: 45ch;
  line-height: 2;
}
/* use unitless values for line-height declarations. this ensures that the line height is relative to the size 1.5 unitless line height is recommanded */
/* do this  */
/* line-height: 1.5; */

/* Web fonts */
/* 
for long time system fonts were only options. but now you can choose a web font that matches the feel of your content.
use @font-face to tell the browsers where to find your web font files, use woff2 as your web font format. its well supported and has the best performance gains
*/
/* example code for web font @font-face */
@font-face {
  font-family: Roboto;
  src: url('/fonts/roboto-regular.woff2') format('woff2');
}
body {
  font-family: Roboto, sans-serif;
}

/* font loading */
/* 
use font-display swap if you still want the web font to replace the system font whenever the web font-finally loads.
*/
body {
  font-family: Roboto, sans-serif;
  font-display: swap;
}
/* font varibales */
/* 
if you are using lots of different weights or styles of the same typeface you should consider using variables.
*/