/* advance selectors */
/* there are many css selectors like class or ids etc */
/* there are some css selectors which is very useful.*/
/* 
there are a lot of of advance selectors, so going through every single one is outside of the scope.
we will go through some of the mos useful and common ones,
*/

/* Child and Sibling Combinators */
/* 
some ways we can access different elements without referring to theirs classes.
> : the child combinator.
+ : the next-sibling combinator.
~ : the general sibling combinator.
*/
/* The divs with the class "child" will get selected by this */
main > div {
  /* Our cool CSS */
  font-family: 'Courier New', Courier, monospace;
}

/* The divs with the class "grand-child" will get selected by this */
main > div > div {
  /* More cool CSS */
  color: brown;
}
/* 
phrased another way, the child selector will select an element that is one level of indentation down. in order to select an element that is next to
*/
/* Only the div with the classes "child group2" will get selected by this */
.group1 + div {
  /* Our cool CSS */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Only the div with the classes "child group3" will get selected by this */
.group1 + div + div {
  /* More cool CSS */
  font: 700;
}

/* 
if we want to select all of the sibling following an element and not just the first one, we can use the general sibling combinator ~.
*/
/* All of .group1's div siblings - in this case the 2nd and 3rd .child divs, will get selected by this */
.group1 ~ div {
  /* Our cool CSS */
  background: #000;
}
/*
just like the descendant combinator, these selectors dont have any special specificity rules.
mdn reference link :
https://developer.mozilla.org/en-US/docs/Learn_web_development/Core/Styling_basics/Combinators
*/

/* pseudo selectors */
/* 
What is a pseudo-class?
A pseudo-class is a selector that selects elements that are in a specific state, 
https://developer.mozilla.org/en-US/docs/Learn_web_development/Core/Styling_basics/Pseudo_classes_and_elements

What is a pseudo-element?
Pseudo-elements behave in a similar way. However, they act as if you had added a whole new HTML element into the markup, rather than applying a class to existing elements.
Pseudo-elements start with a double colon ::. ::before is an example of a pseudo-element.
*/

/* pseudo-classes */
/* 
pseudo classes offer us different ways to target elements in our HTML. there are quite a lot of them. and they come in a couple of different flavors. there are many pseudo classes but we look at the important ones. most can be chained togather.

calculate css specificity notation
https://css-tricks.com/specifics-on-css-specificity/#aa-calculating-css-specificity-value

MDN reference on PSEUDO-classes
https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Selectors/Pseudo-classes

A Css pesudo-class is a keyword added to selectors that let you select elements based on information that lies outside of the document tree. such as  a specific state of the selected element. like :hover can used to style a  button when user's pointer hovers over it. - MDN
*/
button:hover {
    color: hotpink; 
}
/* 
a pseudo-class consists of a colon (:) following by the pseudo-class name (e.g :hover) - MDN
pseudo-classes let you apply a style a style to an element not only in relation to the content of the document tree. but also in relation to external factors like the history of the navigator - MDN
*/
