/* advance selectors */
/* there are many css selectors like class or ids etc */
/* there are some css selectors which is very useful.*/
/* 
there are a lot of of advance selectors, so going through every single one is outside of the scope.
we will go through some of the mos useful and common ones,
*/

/* Child and Sibling Combinators */
/* 
some ways we can access different elements without referring to theirs classes.
> : the child combinator.
+ : the next-sibling combinator.
~ : the general sibling combinator.
*/
/* The divs with the class "child" will get selected by this */
main > div {
  /* Our cool CSS */
  font-family: 'Courier New', Courier, monospace;
}

/* The divs with the class "grand-child" will get selected by this */
main > div > div {
  /* More cool CSS */
  color: brown;
}
/* 
phrased another way, the child selector will select an element that is one level of indentation down. in order to select an element that is next to
*/
/* Only the div with the classes "child group2" will get selected by this */
.group1 + div {
  /* Our cool CSS */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Only the div with the classes "child group3" will get selected by this */
.group1 + div + div {
  /* More cool CSS */
  font: 700;
}

/* 
if we want to select all of the sibling following an element and not just the first one, we can use the general sibling combinator ~.
*/
/* All of .group1's div siblings - in this case the 2nd and 3rd .child divs, will get selected by this */
.group1 ~ div {
  /* Our cool CSS */
  background: #000;
}
/*
just like the descendant combinator, these selectors dont have any special specificity rules.
mdn reference link :
https://developer.mozilla.org/en-US/docs/Learn_web_development/Core/Styling_basics/Combinators
*/

/* pseudo selectors */
/* 
What is a pseudo-class?
A pseudo-class is a selector that selects elements that are in a specific state, 
https://developer.mozilla.org/en-US/docs/Learn_web_development/Core/Styling_basics/Pseudo_classes_and_elements

What is a pseudo-element?
Pseudo-elements behave in a similar way. However, they act as if you had added a whole new HTML element into the markup, rather than applying a class to existing elements.
Pseudo-elements start with a double colon ::. ::before is an example of a pseudo-element.
*/

/* pseudo-classes */
/* 
pseudo classes offer us different ways to target elements in our HTML. there are quite a lot of them. and they come in a couple of different flavors. there are many pseudo classes but we look at the important ones. most can be chained togather.

calculate css specificity notation
https://css-tricks.com/specifics-on-css-specificity/#aa-calculating-css-specificity-value

MDN reference on PSEUDO-classes
https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Selectors/Pseudo-classes

A Css pesudo-class is a keyword added to selectors that let you select elements based on information that lies outside of the document tree. such as  a specific state of the selected element. like :hover can used to style a  button when user's pointer hovers over it. - MDN
*/
button:hover {
    color: hotpink; 
}
/* 
a pseudo-class consists of a colon (:) following by the pseudo-class name (e.g :hover) - MDN
pseudo-classes let you apply a style a style to an element not only in relation to the content of the document tree. but also in relation to external factors like the history of the navigator - MDN
*/

/* Dynamic and user action pseudo classes */
/* 
these types of useful pseudo-classes can make your page feel much more dynamic and interactive.

":focus" applies to an element that is currently selected by the user either through selecting it with their cursor or using their keyboard.

":hover" will affect anything under the user's mouse pointer. it can be used to give extra oomph buttons and links to highlight that they're interactable, or to trigger a drop-down menu.

":active" applies to elements that are currently being clicked, and is especially useful for giving your user feedback that their action an effect. this is great one to give your buttons and other interactive element more tactile's feedback.

normally links are blue and turn purple after visiting you can modify their behaviors using ":link" and ":visited" pseudo-classes

*/

/* structural pseudo classes */
/* 
structural pseudo classes are powerful way to select elements based on their positon within DOM.

:root : is a special class that represents the very top level of your document like HTML element. 
helpful resource to findout difference between : root and HTML element.
https://stackoverflow.com/questions/15899615/whats-the-difference-between-css3s-root-pseudo-class-and-html
":root" is generally the place where you will place your "GLOBAL" css rules that you want available everywhere such as your custom properties and css variables or rules such as box-sizing: border-box;

first-child and :last-child will match elements that are the first or last sibling.

:empty will match element that have no children
:only-child will match elements that do have any siblings.
for more dynamic approach we can use ":nth-child". this is a flexible pseudo-class with a few different uses.

*/
  .myList:nth-child(5) {/* Selects the 5th element with class myList */
  content: 'hey';
  }

  .myList:nth-child(3n) { /* Selects every 3rd element with class myList */
  font-family: 'Courier New', Courier, monospace;
  }

  .myList:nth-child(3n + 3) { /* Selects every 3rd element with class myList, beginning with the 3rd */
  color: green;
  }

  .myList:nth-child(even) {/* Selects every even element with class myList */
  color: pink;
  }

  /* pseudo-elements */
/* 
while pseudo-classes give us an alternative way to interact with our html elements based on their state or structure, pseudo-elements are more abstract. they are allows us to affect parts of our html that are not elements at all. 

::marker allows you to customize the styling of your <li> elements bullets or numbers.

::first-letter and ::first-line allows you to give special styling to the first letter or line of some text.

::selection allows you to change the highlighting when a user selects text on the page.

::before and ::after allows us to add extra elements onto the page with css, instead of HTML. using it to decorate text in various ways is one common use case.

MDN reference link for all pseudo elements
https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Selectors/Pseudo-elements
*/
  .emojify::before {
    content: '😎 😄 🤓';
}

  .emojify::after {
    content: '🤓 😄 😎';
}

/* Attribute Selectors */
/* 
The last tool we are going to add to the box is attribute selectors. recall that an attribute is anything in the opening tag of an html element - such as src='image.jpg' or href='www.img.cm'.

since we write our own values for attributes, we need a slightly more flexible system to be able to target specific values.
attribute selectors have the same specifity as classes and pseudo-classes(0,0,1,0) 

[attribute^="value"] - ^= Will match strings from the start.
[attribute$="value"] - $= Will match strings from the end.
[attribute*="value"] - *= The wildcard selector will match anywhere inside the string.

MDN reference Page 
https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Selectors/Attribute_selectors
*/

/* Assignments

https://flukeout.github.io/
https://learn.shayhowe.com/advanced-html-css/complex-selectors/
https://developer.mozilla.org/en-US/docs/Learn_web_development/Core/Styling_basics/Test_your_skills/Selectors

*/