/* custom css properties */
/* 
custom css properties (aslo known as CSS Variables) can be a really useful and powerful tool when writing our css files.
its incredibly useful for creating themes, such as the dark and light themes.
*/

/* using custom properties */
/* 
the syntax for declaring and accessing a custom property is not too different from how we write a normal declaration.
*/

.error-modal {
    /* declaring variables */
    --color-error-text: red;
    --modal-border: 1px solid black;
    --modal-font-size: calc(2rem + 5vw);

    /* using variables */
    color: var(--color-error-text);
    border: var(--modal-border);
    font-size: var(--modal-font-size);
}
/* 
we declare oyur custom property with a double hyphen -- followed by a case-senstive hyphen separated property name (color-error-text). the use of kebab-case (single hyphens to separate words) is very important here because spaces are not valid. (--color error text would not work) 

when we want to access a custom property, we use the var() function as the value of a css property,
 */

 /* fallback values. */
 /* 
 the var() function actually accepts two parameters.the first parameter we've already gone over, which is the custom property we want to assign, the second parameter is an optional fallback value. we can even pass in another custom propety as fallback property.
 */

 .fallback {
  --color-text: white;

  background-color: var(--undeclared-property, black);
  color: var(--undeclared-again, var(--color-text, yellow));
}
/* if the --color-text custom property was invalid or didn't exist the fallback to our fallback would take over and the color property would have a value of yellow. */


/* scope */
/* 
the scope of a custom property is determined by the selector. its very similar how scope works in javascript.
*/
.cool-div {
  --main-bg: red;
}

.cool-paragraph {
  background-color: var(--main-bg);
}

.boring-paragraph {
  background-color: var(--main-bg);
}
/* 
only elemenet with the cool-paragraph class would get styled with a red bg.
*/

/* the :root selector */
/* 
while there maybe times where you will want to limit the scope of a custom property, 
a better solution is declaring those custom properties on the :root selector, which is essentially the same thing as the html selector except it has a higher specificity.
*/

:root {
  --main-color: red;
}

.cool-paragraph {
  color: var(--main-color);
}

.exciting-paragraph {
  background-color: var(--main-color);
}

/* by declaring our custom property on the :root selector in the example above, we can access it on any other valid selector within our css file. */
