/* css functions */
/* 
css also has functions, when the value is a word followed by a pair of parentheses() containing information between them.. as in background-color rgb(0, 0, 0); you are using css functions.
*/
/* 
similar to programming languages functions in css are reusable piece of code which perform specific tasks.
*/
h6 {
    color: rgb(0, 42, 255);
    background: linear-gradient(90deg, blue, red);
    /* the value of color is the function rgb() */
}
/* 
unlike programming languages you'll use in TOP, CSS does not allow us to create our own functions. instead language comes bundled with a list of premade functions that will help you solve the most common styling problems.
*/
/* --header, --footer, and --main are all examples of CSS variables.  */
:root {
	--header: 3rem;
	--footer: 40px;
	--main: calc(100vh - calc(var(--header) + var(--footer)));
    /* 
     Combined with CSS variables, calc() can save us from the headache of repeating CSS rules.
    */
}

body {
	margin: 0;
	padding: 0;
	border: 0px solid transparent;
	background: #7a7a7a;
}

#container {
	border: 0px solid transparent;
	height: 100vh;
	color: white;
}
#container > * {
	display: flex;
	justify-content: center;
	align-items: center;
}

#header {
	height: var(--header);
	background: #111111;
}
#mainContent {
	height: var(--main);
	background: #343434;
	margin-right: auto;
	margin-left: auto;
}
#footer {
	height: var(--footer);
	background: #232323;
}