body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

#special {
    background-color: yellow;
}
.alert {
    border: 2px solid gray;
}
.stop {
    background-color: red;
}
.go {
    background-color: green;
}